pkgbase = bakkesmod-legendary
	pkgdesc = A mod aimed at making you better at Rocket League!
	pkgver = 2.53
	pkgrel = 2
	url = https://bakkesmod.com/
	arch = x86_64
	license = GPL
	makedepends = mingw-w64-binutils
	makedepends = mingw-w64-crt
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-headers
	makedepends = mingw-w64-winpthreads
	makedepends = python
	makedepends = jq
	source = dll-2-0-53-2.zip::https://github.com/bakkesmodorg/BakkesModInjectorCpp/releases/download/2.0.53.2/bakkesmod.zip
	source = src-2-0-53-2.zip::https://github.com/bakkesmodorg/BakkesModInjectorCpp/archive/refs/tags/2.0.53.2.zip
	source = loopback-2-53-2.zip::https://github.com/kentslaney/bakkesmod-arch/archive/refs/tags/2.53-2-legendary.zip
	source = pwshwrapper-05ea332.zip::https://github.com/PietJankbal/powershell-wrapper-for-wine/archive/05ea332209f52b796a78246a89757a291f254fb6.zip
	sha256sums = 5e8d5e699a00e82f4822daf19a8e49fc6a4c6cf4d44265559b17c4ce16afe8ed
	sha256sums = 6c19b654ff10ebb2760bccb2bf684ebd666421fa0eee90c983cb220086fd452c
	sha256sums = SKIP
	sha256sums = 79ac12ff72dad9c0f79f5658fa4fed7c4d92476c6eea77427aa2bc84964fcf94

pkgname = bakkesmod-legendary
