pkgbase = bakkesmod-legendary
	pkgdesc = A mod aimed at making you better at Rocket League!
	pkgver = 2.43
	pkgrel = 3
	url = https://bakkesmod.com/
	arch = x86_64
	license = GPL
	makedepends = mingw-w64-binutils
	makedepends = mingw-w64-crt
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-headers
	makedepends = mingw-w64-winpthreads
	makedepends = python
	makedepends = jq
	source = dll-2-0-43.zip::https://github.com/bakkesmodorg/BakkesModInjectorCpp/releases/download/2.0.43/bakkesmod.zip
	source = src-2-0-43.zip::https://github.com/bakkesmodorg/BakkesModInjectorCpp/archive/refs/tags/2.0.43.zip
	source = loopback-2-43-3.zip::https://github.com/kentslaney/bakkesmod-arch/archive/refs/tags/2.43-3-legendary.zip
	sha256sums = 3d39b07149872d891659330185ef9c4e02c580bfad67ed2df9979dbd72d4ae61
	sha256sums = 2d9cb1534fbae77ba008b07be3291d30e98a872ebfb0f0b3e6bb0c638d98bef8
	sha256sums = SKIP

pkgname = bakkesmod-legendary
